body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder {
  font-style: italic;
}

.main-navbar {
  border-bottom: 1px solid #ccc;
}

.main-navbar .top-navbar {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name {
  color: #fff;
}
.main-navbar .top-navbar .nav-link {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu {
  padding: 0px 0px;
  border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  border-bottom: 1px solid #fff8f8;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
  width: 20px;
  text-align: center;
  color: #ffd6d6;
  font-size: 14px;
}
.main-navbar .navbar {
  padding: 0px;
  background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link {
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link {
    font-size: 12px;
    padding: 8px 10px;
  }
}
/* ADMIN CSS */
.admin-container {
  display: flex;
  min-height: 100vh;
}
.admin-main {
  display: flex;
  flex-direction: row;
}
.admin-sidebar {
  display: flex;
}
.sidebar-header {
  display: flex;
}
.sidebar-header .sidebar-title {
  padding: 10px 15px;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sidebar-close-icon {
  padding: 10px;
  font-size: 40px;
}
.sidebar-close-icon:hover {
  color: deepskyblue;
}
.sidebar-logo {
  font-size: 25px;
  cursor: pointer;
  padding: 3px 15px;
  align-items: center;
  text-align: center;
}
.sidebar-logo:hover {
  color: deepskyblue;
}
.sidebar-item a {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
}

.sidebar-item a:hover {
  background: blue;
  color: #000;
  transition: all 1s;
}
.sidebar-icon,
.sidebar-text {
  font-size: 18px;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-container .admin-header {
  color: #fff;
  height: 60px;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
}
.page-container .admin-header .container-fluid .dropdown {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

.page-container .admin-content {
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
}
